{
  "env": {
    "node": true,
    "es6": true  
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "react/prop-types": 0
  },
  "settings": {
    "react": {
      "version": "16.12.0"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}
