.bg-theme-blue {
    position: relative;
    background-color: #3a36d0;
  }
  
  .bg-theme-blue::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3a36d0;
    background-image: url("../../../assets/img/bg-blue.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }
  
  @media screen and (min-width: 1300px) {
    .box-content .form {
      width: 100%;
      max-width: 100% !important;
    }
  
    .box-content div {
      width: 90%;
      max-width: 90% !important;
    }
  
    .mobileAlign {
      text-align: center !important;
    }
  }
  
  @media screen and (min-width: 765px) and (max-width: 1200px){
    #algarGreen {
      margin-top: 1.4rem;
      margin-bottom: 10rem;
    }
    .mobileAlign {
      text-align: center !important;
    }
    .box-content {
      width: 70%;
      margin: 0 auto;
    }
  
    .box-content div {
      width: 100%;
      max-width: 100% !important;
    }
  
    .box-content .form {
      width: 100%;
      max-width: 100% !important;
    }
  }
  
  @media screen and (max-width: 420px) {
    .mobileAlign {
      text-align: left !important;
    }
  }
  